*{
    background-color: rgb(254, 235, 211);
    margin:0;
}



.container{
    display:flex;
    height: 100vh;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.latest{
    height: 350px;
    width:170px;
    background-color: aqua;
    color:gold;
    text-align: center;
    
    

}

/*
.footer{
    height:30px;
    width:100%;
    background-color: rgb(46, 46, 92);
    text-align: center;
    padding:5px;
    margin:5px;
}

        <div class="footer">made by eureka teklemariam@2024</div>

*/
.sport{
    height: 350px;
    width:300px;
    background-color: rgb(58, 92, 6);
    color:gold;
    text-align: center;
    
}

.politics{
    height: 350px;
    width:300px;
    background-color: rgb(10, 6, 92);
    color:rgb(255, 81, 0);
    text-align: center;
    
}
